.button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  max-width: 400px;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &--menu {
    font-family: "Geogrotesque", sans-serif;
    font-weight: 500;
    border: 2px solid #0778d4;
    border-radius: 5px;
    padding: 0.75rem;
    background: none;
    color: #0778d4;
    font-size: 1.25rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &--modal {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 1rem;
    background: none;
    color: white;
    font-size: 1rem;
    line-height: 0.8rem;
  }

  &--top {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 1rem;
    background: none;
    color: white;
    font-size: 1rem;
    line-height: 0.8rem;
  }

  &--up {
    opacity: 0.9;

    span {
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 24px solid white;
      border-radius: 2px;
    }
  }

  &--down {
    opacity: 0.3;

    span {
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 12px solid white;
      border-radius: 2px;
    }
  }
}
