.count {
  position: relative;
  font-family: "Geogrotesque", sans-serif;
  font-size: 3.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  &-divider {
    opacity: 0.4;
  }

  &-total {
    opacity: 0.4;
  }

  &-input {
    position: absolute;
    font-family: "Geogrotesque", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    width: 100%;
    max-width: 400px;
    height: 100%;
    border: none;
    text-align: center;
    background-color: #0778d4;
    border: 1px solid #e7f4ff;
    color: white;
    &:focus {
      outline: #66b3bc;
    }
  }
}

.count-input::-webkit-outer-spin-button,
.count-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.count-input[type="number"] {
  -moz-appearance: textfield;
}
