.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    lighten(white, 10%),
    darken(#ecf7ff, 0%)
  );
  color: #0778d4;
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  gap: 2rem;
  padding: 2rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &--close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 20px;
    cursor: pointer;
    filter: invert(50%) sepia(50%) saturate(800%) hue-rotate(170deg);
  }

  div {
    width: 90%;
  }

  h2 {
    font-family: "Geogrotesque", sans-serif;
    font-weight: 400;
  }

  img {
    max-width: 60px;
  }

  input[type="text"],
  input[type="number"] {
    font-family: "Geogrotesque", sans-serif;
    background: #edf7ff;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
    text-align: center;
    color: #0778d4;
    font-size: 1.5rem;

    &:focus {
      outline: 2px solid #0778d4;
    }
  }

  /* Checkbox */
  .checkbox-container {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }

  .checkbox-container input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 25px;
    right: 0;
  }

  .checkmark {
    width: 25px;
    height: 25px;
    background-color: #edf7ff;
    border: 1px solid #0778d4;
    border-radius: 5px;
    position: relative;
  }

  .checkmark:after {
    content: "";
    display: none;
  }

  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  .checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #0778d4;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .checkbox-label {
    font-family: "Geogrotesque", sans-serif;
    color: #0778d4;
    font-size: 1.5rem;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
  }
}
