/* Bold */

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-Bd.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-BdIt.otf");
  font-style: italic;
  font-weight: 700;
}

/* Bold */

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-SmBd.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-SMBdIt.otf");
  font-style: italic;
  font-weight: 600;
}

/* Medium */

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-Md.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-MdIt.otf");
  font-style: italic;
  font-weight: 500;
}

/* Regular */

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-Rg.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-RgIt.otf");
  font-style: italic;
  font-weight: 400;
}

/* Light */

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-Lt.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-LtIt.otf");
  font-style: italic;
  font-weight: 300;
}

/* Ultra Light */

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-UltLt.otf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-UltLtIt.otf");
  font-style: italic;
  font-weight: 200;
}

/* Thin */

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-Th.otf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Geogrotesque";
  src: url("../../assets/fonts/Geogrotesque/Geogrotesque-ThIt.otf");
  font-style: italic;
  font-weight: 100;
}

/* Lato */

/* Black */

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Black.ttf");
  font-style: normal;
  font-weight: 900; /* Black */
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900; /* Black */
}

/* Bold */

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Bold.ttf");
  font-style: normal;
  font-weight: 700; /* Black */
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700; /* Bold */
}

/* Regular */

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Italic.ttf");
  font-style: italic;
  font-weight: 400; /* Regular */
}

/* Light */

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Light.ttf");
  font-style: normal;
  font-weight: 200; /* Ultra Light */
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-LightItalic.ttf");
  font-style: italic;
  font-weight: 200; /* Light */
}

/* Thin */

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Thin.ttf");
  font-style: normal;
  font-weight: 100; /* Thin */
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100; /* Thin */
}
