.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    lighten(white, 10%),
    darken(#ecf7ff, 0%)
  );
  color: #0778d4;
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  gap: 2rem;
  padding: 2rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  div {
    width: 90%;
  }

  h2 {
    font-family: "Geogrotesque", sans-serif;
    font-weight: 400;
  }

  img {
    max-width: 60px;
  }

  input {
    font-family: "Geogrotesque", sans-serif;
    background: #edf7ff;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    color: #0778d4;
    font-size: 1.5rem;

    &:focus {
      outline: 2px solid #0778d4;
    }
  }
}
