/* Modal */
/* .modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  color: #0778d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.close {
  color: #0778d4;
  float: right;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
} */
