@font-face {
  font-family: "Geogrotesque";
  src: url("../assets/font/Geogrotesque/Geogrotesque-Rg.otf") format("opentype"),
    url("../assets/font/Geogrotesque/Geogrotesque-Bd.otf") format("opentype"),
    url("../assets/font/Geogrotesque/Geogrotesque-Bdlt.otf") format("opentype");
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato/Lato-Regular.ttf") format("truetype"),
    url("../assets/font/Lato/Lato-Bold.ttf") format("truetype");
}

/* Body */
body {
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #0778d4;
  color: white;
  font-weight: bold;
}

/* App Container */
.app-container {
  max-width: 500px;
  margin: min(2rem, 7.5vh) auto;
  padding: min(2rem, 7.5vh);
}

/* Count */
.count {
  font-family: "Geogrotesque", sans-serif;
  font-weight: bold;
  font-size: min(4rem, 15vw);
  margin-top: min(2rem, 7.5vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Count Total */
.count-total {
  opacity: 0.4;
}

/* Count Container */
.count-container {
  position: relative;
}

/* Counter Input */
.counter-input {
  font-family: "Geogrotesque", sans-serif;
  font-weight: bold;
  position: absolute;
  font-size: min(4rem, 15vw);
  font-weight: bold;
  width: 100%;
  top: 0;
  z-index: 1;
}

.counter-input input {
  font-family: "Geogrotesque", sans-serif;
  font-weight: bold;
  padding: 0.5rem 0;
  border-radius: 25px;
  font-size: min(4rem, 15vw);
  width: 100%;
  border: none;
  text-align: center;
  background-color: #0778d4;
  color: white;
}

.counter-input input:focus {
  outline: #66b3bc;
}

/* Button Container */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: min(1rem, 4vw);
}

.button-container .button {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  flex-grow: 1;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button Option */
.button-option select {
  border: none;
  outline: none;
  color: white;
  background-color: #0778d4;
  font-size: 1.25rem;
  cursor: pointer;
}

.button-option select option {
  border: none;
  outline: none;
  background-color: #0778d4;
  color: white;
  font-size: 1.25rem;
}

.button-option select:focus {
  border: none;
  outline: none;
}

/* Up Button, Down Button */
.up-button,
.down-button {
  margin-top: min(1rem, 4vw);
  border: none;
}

/* Swipe Area */
.swipe-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 25px;
  margin-top: min(2rem, 8vw);
  width: 100%;
  height: 40vh;
}

/* Bubble */
.bubble {
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(
    circle at 75% 30%,
    rgba(255, 255, 255, 0.8) 5px,
    rgba(0, 255, 255, 0.6) 8%,
    rgba(0, 0, 139, 0.4) 60%,
    rgba(0, 255, 255, 0.6) 100%
  );
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5),
    inset 5px 0 20px rgba(234, 245, 252, 0.3),
    inset 44px 0 30px rgba(194, 216, 254, 0.2),
    inset -10px -30px 50px rgba(253, 233, 234, 0.2),
    inset 0 25px 70px rgba(253, 233, 234, 0.2),
    0 0 30px rgba(255, 255, 255, 0.5);
}

/* Bubble Sizes */
.large {
  width: 25vw;
  height: 25vw;
  max-width: 120px;
  max-height: 120px;
}

.medium {
  width: 20vw;
  height: 20vw;
  max-width: 100px;
  max-height: 100px;
}

.small {
  width: 15vw;
  height: 15vw;
  max-width: 80px;
  max-height: 80px;
}

/* Bubble Positions */
.large {
  top: 28%;
  z-index: 3;
}

.medium {
  top: 50%;
  z-index: 2;
}

.small {
  top: 68%;
  z-index: 1;
}

/* Up Button */
.up-button {
  position: absolute;
  top: 8%;
  cursor: pointer;
}

.up-button span {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 24px solid white;
  border-radius: 2px;
}

/* Down Button */

.down-button {
  position: absolute;
  bottom: 2%;
  cursor: pointer;
}

.down-button span {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid white;
  border-radius: 2px;
}

.logo {
  margin-top: min(2rem, 8vw);
  max-width: 60px;
}

/* Style for the information button */
.info-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0778d4;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.footer-information {
  margin-top: 2rem;
}
